body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 1440px;
    height: 1015px;
    top: 682px;
    gap: 0px;
}
* {
    box-sizing: border-box;
}
img {
width: 355px;
height: 619px;
top: 59px;
left: 884px;
position:absolute;
}
.flex-container {
    display: auto;
    align-content: left;
    gap: 20px;
    padding: 20px;
}
.part1 {
    background-color: #FF8800;
    width: 1440px;
    height: 650px;
    top: 682px;
    gap: 0px;
    color:#F9FAFB;
}
h1 {
    font-weight:600px;
    size: 72px;
    width: 717px;
    height: 160px;
    line-height: 50px;
    padding-top: 155px;
    padding-left: 68px;
    align-items: left;
}
h5 {
    font-weight:200px;
    size:24px;
    line-height: 32px;
    padding-left: 68px;
}

h3 {
    font-weight:600px;
    size: 30px;
    line-height: 38px;
}

p {
    font-weight:400px;
    size:24px;
    line-height: 32px;
    padding-left: 68px;
    align-items: left;
}

.part2 {
    width: 1440px;
    height: 1000px;
    top: 682px;
    background-color: #F9FAFB;
    align-content: center;
}
.site {
    display:table;
    content:"";
    clear:both;
}
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 20px;
}
.grid-item {
    background-color: #fff;
    padding-top: 54px;
    border: 1px solid #ddd;
    border-radius: 24px;
    text-align: center;
    width:424px;
    height:238px;
    font-weight:600px;
    size:24px;
}

.offer {
width: 1054px;
height: 144px;
top: 1306px;
left: 193px;
font-weight: 600px;
size: 28px;
align-content: center;
}
  

